@infragistics:registry=https://packages.infragistics.com/npm/js-licensed/
//packages.infragistics.com/npm/js-licensed/:email=Adrian.Cioloca!!dicom.de
//packages.infragistics.com/npm/js-licensed/:_auth=YXBpOjNiMDlmZGljb203NDA5NTg3MzE1Nzc5OTIwMjQwNzEyMDY1NDA0MTU3Nzk5MzMwNzQw
@dicom-software:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
