/* ==========================================================================
   Base Typography
   ========================================================================== */

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

h1,
h2,
h3 {
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

code,
pre {
  font-family: var(--font-family-mono);
}
