:host {
  display: block;
  height: 100%;
}

.shell {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow: auto;
    padding: 1rem;
  }
}
